* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Rubik' , sans-serif;
    height: 100vh;
}

h1 {
    font-size: 3rem;
}

p {
    font-size: 1.8rem;
}

input {
    font-family: 'Rubik' , sans-serif;
    font-size: 1.8rem;
}

.container {
    max-width: 144rem;
    width: 100%;
    margin: 0 auto;
}

.relative {
    position: relative;
}
